# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

# final
streamlit-option-menu==0.3.6
streamlit==1.27.2
streamlit-folium==0.15.1
nbconvert==7.9.2
nbformat==5.9.2
nbserverproxy==0.8.8
localtileserver==0.7.2
jupyter-server==2.8.0
jupyter-server-proxy==4.1.0
jupyter-server-terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab-server==2.25.0
jupyterlab-widgets==1.1.7
keplergl==0.3.2
leafmap==0.27.1
gdown==4.7.1
geemap==0.29.1
geocoder==1.38.1
geojson==3.0.1
geopandas==0.13.2